@import url('https://fonts.googleapis.com/css?family=Lato:300');

body {
    font-family: 'Lato', sans-serif;
}

button {
    font-family: 'Lato', sans-serif;
}

.choose-name-form {
    display: inline-block;
    margin-left: 40px;
}

.choose-name-form h4 {
    margin: 0px 0px 10px 0px;
}

.game-room .chat-container,
.game-room .canvas-container {
    display: inline-block;
}

.chat-container {
    position: relative;
    display: inline-block;
    max-width: 400px;
}

.chat-container input {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.canvas-container {
    position: relative;
}

.canvas-container .drawing-buttons-container {
    position: absolute;
    bottom: 1px;
    right: 1px;
}

.join-room {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.rooms {
    list-style-type: none;
    display: flex;
}

.rooms li {
    position: relative;
    background-size: cover;
    cursor: pointer;
    width: 300px;
    height: 300px;
    margin: 5px;
}

.rooms li a {
    position: absolute;
    color: #FFF;
    width: 100%;
    bottom: 5px;
    text-align: center;
    font-size: 1.5em;
}

.main-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.msg-time {
    font-size: .7em;
}

.chat-messages {
    list-style-type: none;
    max-height: 400px;
    min-width: 350px;
    overflow: auto;
    overflow-x: hidden;
    padding-left: 2px;
}

.chat-messages li {
    perspective: 900;
}

p.message {
    margin: 0;
    word-wrap: break-word;
    cursor: pointer;
    transition: transform .1s;
}

p.message:hover {
    background-color: #FF9719;
    transform: scale(1.002, 1.002);
    box-shadow: 0 5px 10px 0 #7c4706, 0 6px 10px 0 #7c4706;
}

p.message.warm {
    background-color: rgb(255, 149, 11);
}

.game-header {
    position: relative;
    display: flex;
    height: 60px;
    align-items: center;
    justify-content: space-around;
}

.game-header h2 {
    margin: 0;
}

.game-header h4 {
    display: inline-block;
    margin: 0;
}

.game-header div {
    display: inline-block;
}

.game-header .current-word {
    font-size: 1.25em;
}

.game-room h2 {
    display: inline-block;
    margin: 0 auto;
}

.game-room h4 {
    text-align: center;
}

.game-room .pick-winner-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.time-container {
    text-align: center;
    margin: 0px 10px;
    width: 40%;
}

.time-container .time-text {
    font-size: 2em;
}

.word-difficulty {
    text-align: center;
}

.pick-winner-container h4 {
    margin: 0;
}

.pick-winner-list {
    width: 500px;
    cursor: pointer;
}

.pick-winner-list li {
    list-style-type: none;
    transition: all .2s;
}

.pick-winner-list li:hover {
    transform: scale(1.002, 1.002);
    box-shadow: 0 5px 10px 0 black, 0 6px 10px 0 black;
}

.game-room {
    position: relative;
}

.game-room .pick-difficulty-container {
    text-align: center;
}

.game-room .pick-difficulty {
    background-color: #FFF;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 100;
    list-style-type: none;
    position: absolute;
    height: 200px;
    width: 150px;
    left: 40%;
    padding-left: 0;
    cursor: pointer;
}

.game-room .pick-difficulty li {
    display: flex;
    border: 1px solid #000;
    justify-content: center;
    align-items: center;
    margin-top: 2px;
    height: 33%;
    transition: all .2s;
}

.game-room .pick-difficulty li:hover {
    background-color: rgb(216, 216, 175);
}

.game-header .start-buttons-container {
    position: relative;
    right: 0;
}

.game-room .player-scores-container {
    width: 300px;
    margin: 0 auto;
}

.game-room .player-scores-container h5 {
    font-size: 1.2rem;
    margin: 0;
}

.game-room .player-scores-container .player-scores-list {
    padding: 0;
}

.game-room .player-scores-list {
    list-style-type: none;
}

.round-winner-container {
    width: 100%;
    color: red;
    position: absolute;
    text-align: center;
    margin: 0 auto;
    z-index: 1000;
    transition: all .25s ease-in
}